@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #000000FF; 
  color: #FFFFFF;
}

main {
  padding: 0 1rem;
}

h1 {
  font-size: 38px;
  margin-top: .75rem;
}

h2 {
  font-size: 24px;
}

button, .submit-button, .answer-item label{
  padding: 1rem; 
  border-radius: 3px;
  font-size: 18px;
  border: none;
}

button, .submit-button {
  background-color: darksalmon;
}

button:focus, .submit-button:focus {
  background-color: lightsalmon;
}

input[type="radio"] {
  appearance: none;
}

.message {
  color: red;
}

.answer-item label {
  background-color: darkolivegreen; 
  display: block;
}

.choices {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
}

input[type="radio"]:checked + label{
  background-color: saddlebrown;
}

input[type="radio"]:focus + label{
  background-color: darkred;
}

.submit-button {
  margin: 1rem 0 0;
}

@media all and (min-width: 800px) {
    .choices {
      flex-direction: row;
    }
    .answer-item {
      margin: 0 2rem 0 0;
    }
    .answer-item:last-child {
      margin-right: 0;
    }
}